<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue"/>
      <button @click="addGoal">Add Goal</button>
      <!-- v-if hides elements from DOM and can be bad for performance if the element appears and disappears a lot -->
      <!-- in this case it would be better to use v-show, which sets a display:none when its condition isn't met -->
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <!-- v-else or v-else-if have to be used on an element directly after one using v-if -->
      <ul v-else>
        <!-- v-for only renders the new added element -> good for performance -->
        <li v-for="(goal, index) in goals">{{ goal }} - {{ index }}</li>
      </ul>
      <ul>
        <!-- Now this is cool!! -->
        <!-- v-for will only show Max and 31 as two separate list items, since they are the values in the object!! -->
        <li v-for="value in {name: 'Max', age: 31}">{{ value }}</li>
      </ul>
      <ul>
        <!-- Now the key will also appear -->
        <!-- adding the index also works here if needed -->
        <li v-for="(value, key) in {name: 'Max', age: 31}">{{ key }}: {{ value }}</li>
      </ul>
      <ul>
        <!-- This will print all numbers 1 through 10 -->
        <li v-for="num in 10">{{num}}</li>
      </ul>
    </section>
  </body>
</html>
